
.form-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.form-group label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}